@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#profil-container {
    position: relative;
    background-color: #2b3340;
    width: 45%;
    height: 10%; /* Ajustez la hauteur selon vos besoins */
    border-radius: 50%; /* Cercle */
    overflow: hidden; /* Assure que l'image respecte le cercle */
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left : 30px;
    border: 4px solid #7eff8a; /* Bordure verte claire */

}

#profile-picture1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover; /* Assure que l'image couvre entièrement le cercle */
    object-position: center; /* Centre l'image horizontalement et verticalement */

}

#container-info {
    position: relative;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 10px 0;
}

.line {
    width: 97%;
    height: 2px;
    background-color: #999da3;
    margin: 10px auto;
}

.info {
    color: #2b3340;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.info:hover {
    background-color: #ebebf0;
}



#home-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    width: 40%;
    height: 6px;
    border-radius: 3px;
}




input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 10px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.container {
  max-width: 200px;
  margin-top: 2%;
  margin-bottom: 3%;
  max-height : 100px;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

button {
  background-color: #edf1ed;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #a6a6a7;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.file-selector-button {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

.upload-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

span {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}

.text {
  color: #7eff8a;
  margin-left: 5px;
}

@media (min-width: 1025px) and (max-width: 1366px) {

  #profil-container {
    position: relative;
    background-color: #2b3340;
    width: 55%;
    height: 16%; /* Ajustez la hauteur selon vos besoins */
    border-radius: 50%; /* Cercle */
    overflow: hidden; /* Assure que l'image respecte le cercle */
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left : 38px;
    border: 4px solid #7eff8a; /* Bordure verte claire */

}




// <i class="material-icons">face</i>


// font-family: 'Roboto', sans-serif;

.main-container {
  display: flex;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  width: 100vw;  /* Prend toute la largeur de la fenêtre */
}



  .side-bar {
    width: 180px;
    height: 100vh;
    background: linear-gradient(rgba(21, 101, 192, 0.8), rgba(21, 101, 192, 0.8)), url(https://preview.redd.it/who-is-your-favorite-cartoon-cat-v0-2s7k7bbnavub1.jpg?width=1080&crop=smart&auto=webp&s=6580eb85cae1715b37eb06a498aa5eb8c5d96ce5);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: space-between;

  }
  
  .side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .userauth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .userauth img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-top: 79px;
    object-fit: cover;  /* S'assure que l'image remplit le cadre tout en gardant ses proportions */


  }
  
  .userauth .username {
    color: #ecf0f1;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .menubuttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menubuttons form {
    width: 100%;
  }
  
  .file-selector-button,
  .upload-button {
    background-color: #34495e;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: #ecf0f1;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .file-selector-button:hover,
  .upload-button:hover {
    background-color: #2980b9;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .text {
    font-size: 15px;
  }
  

  .menubuttons h2 {
    margin-bottom: 1%; /* Ajuste l'espace sous chaque h2 */
    font-size: 15px;
  }
  .content {
    display: flex;
    height: 100vh; /* Utilise toute la hauteur de la vue */
    overflow-y: auto; /* Empêche le défilement horizontal */
  }
  .right-container {

    flex-grow: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin-left: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /*margin-top: 100px; /* Ajoutez cet espace pour correspondre à la hauteur de la barre de navigation */

}

}