<div class="main-container">
  <div class="side-bar">
      <div class="side-menu">
          <div class="userauth">
              <img [src]="profileImageUrl || defaultProfileImageUrl" alt="Profile Picture">
              <div class="username">{{user}}</div>
          </div>

          <div class="menubuttons">
              <h2>Photo de profil</h2>
              <div class="container">
                  <form (ngSubmit)="onSubmit()">
                      <label for="fileInput" custom-file-upload></label>
                      <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*">
                      <div class="button-row">
                          <button type="button" class="file-selector-button" (click)="selectFile()">
                              <fa-icon class="text" [icon]="faFolderOpen"></fa-icon>
                          </button>
                          <button type="button" class="upload-button" type="submit">
                              <fa-icon class="text" [icon]="faUpload"></fa-icon>
                          </button>
                      </div>
                  </form>
              </div>
              <h2 (click)="photoschats()" class="clickable"><span class="color">-> Photos</span></h2>
              <div class="container">
                  <form (ngSubmit)="onSubmit1()">
                      <label for="fileInput" custom-file-upload></label>
                      <input type="file" #fileInput (change)="onFileSelected1($event)" accept="image/*">
                      <div class="button-row">
                          <button type="button" class="file-selector-button" (click)="selectFile1()">
                              <fa-icon class="text" [icon]="faFolderOpen"></fa-icon>
                          </button>
                          <button type="button" class="upload-button" type="submit">
                              <fa-icon class="text" [icon]="faUpload"></fa-icon>
                          </button>
                      </div>
                  </form>
              </div>
              <h2 (click)="videoschats()" class="clickable" > <span class="color">-> Videos</span></h2>
              <div class="container">
                  <form (ngSubmit)="onSubmit2()">
                      <label for="fileInput" custom-file-upload></label>
                      <input type="file" #fileInput (change)="onFileSelected2($event)" accept="video/*">
                      <div class="button-row">
                          <button type="button" class="file-selector-button" (click)="selectFile2()">
                              <fa-icon class="text" [icon]="faFolderOpen"></fa-icon>
                          </button>
                          <button type="button" class="upload-button" type="submit">
                              <fa-icon class="text" [icon]="faUpload"></fa-icon>
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <div class="right-container">
      <app-photospost *ngIf="show_photos && previous_videos_route == false" [liste_photos]="photosTest" (photosUpdated)="onPhotosUpdated($event)"></app-photospost>
      <app-videopost *ngIf="show_videos && previous_videos_route == true" [liste_videos]="videosTest" (videosUpdated)="onVideosUpdated($event)"></app-videopost>

  </div>
</div>
