<div class="container">
    <div class="login">
      <div>
        <div class="cat">
          <div class="ear ear--left"></div>
          <div class="ear ear--right"></div>
          <div class="face">
            <div class="eye eye--left">
              <div class="eye-pupil"></div>
            </div>
            <div class="eye eye--right">
              <div class="eye-pupil"></div>
            </div>
            <div class="muzzle"></div>
          </div>
        </div>
      </div>
      <form [formGroup]="snapForm1" method="post">
        <label for="nu"></label>
        <input type="text" id="nu" name="username" placeholder="Nom d'utilisateur" required="required" formControlName="username" />
        <div *ngIf="snapForm1.get('username')?.invalid && (snapForm1.get('username')?.touched || snapForm1.get('username')?.dirty)">
          <div *ngIf="snapForm1.get('username')?.errors?.['required']">Le nom d'utilisateur est requis.</div>
        </div>
        <label for="mp"></label>
        <input type="password" id="mp" name="password" placeholder="Mot de passe (min 10 caractères)" required="required" formControlName="password" />
        <div *ngIf="snapForm1.get('password')?.invalid && (snapForm1.get('password')?.touched || snapForm1.get('password')?.dirty)">
          <div *ngIf="snapForm1.get('password')?.errors?.['required']"></div>
          <div *ngIf="snapForm1.get('password')?.errors?.['minlength']"></div>
        </div>
  
        <button type="submit" (click)="onSubmitForm()" 
        [disabled]="is_clicked || snapForm1.invalid" 
        [ngClass]="{ 'log log-primary log-block log-large': isLoggedIn, ' btn btn-primary btn-block btn-large': !isLoggedIn 
        }">
        Se connecter
      </button>
      
      <ng-container *ngIf="isLoggedIn === true">
        <button class="log1 log1-primary log1-block log1-large" disabled>
          Vous êtes bien enregistré! Veuillez-vous connecter
        </button>
      </ng-container>
      
      <ng-container *ngIf="isLoggedIn === false">
        <button class="log2 log2-primary log2-block log2-large" disabled>
          {{message}}
        </button>
      </ng-container>
      
      <ng-container *ngIf="isLoggedIn == 'invalid'">
        <button class="log2 log2-primary log2-block log2-large" disabled>
          Formulaire invalide. L'adresse mail doit être une adresse valide. Longueur minimum du mot de passe : 10 caractères
        </button>
      </ng-container>
      </form>
    </div>
  </div>
  