<div class="container">
    <div class="login">
      
      <form [formGroup]="snapForm1" method="post">
        <label for="nu"></label>
        <input type="text" id="nu" name="username" placeholder="Nom d'utilisateur" required="required" formControlName="username" />
        <div *ngIf="snapForm1.get('username')?.invalid && (snapForm1.get('username')?.touched || snapForm1.get('username')?.dirty)">
          <div *ngIf="snapForm1.get('username')?.errors?.['required']">Le nom d'utilisateur est requis.</div>
        </div>
        <label for="mp"></label>
        <input type="password" id="mp" name="password" placeholder="Mot de passe" required="required" formControlName="password" />
        <div *ngIf="snapForm1.get('password')?.invalid && (snapForm1.get('password')?.touched || snapForm1.get('password')?.dirty)">
          <div *ngIf="snapForm1.get('password')?.errors?.['required']"></div>
          <div *ngIf="snapForm1.get('password')?.errors?.['minlength']"></div>
        </div>
  
        <button class="hov" type="submit" (click)="onSubmitForm()" >
        Se connecter
      </button>
        </form>
    </div>
  </div>
  