* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form-container {
  display: flex;
  justify-content: center; /* Centre le conteneur du formulaire */
  gap: 2rem; /* Espace entre les formulaires */
  margin-bottom: 2rem; /* Espace sous les formulaires */
  width: 100%;
  margin: 0 auto;
  position: fixed; /* Rend le conteneur fixe */
  left: 50%; /* Positionne au centre horizontalement par rapport à la fenêtre */
  transform: translateX(-50%); /* Centre le conteneur horizontalement */
  top: 86px; /* Ajustez cette valeur pour déplacer le conteneur plus bas */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus d'autres éléments */


}

/* Style du formulaire */
.post-form {
  width: 100%;
  background: #fff;
  max-width: 800px;
  padding: 1rem;
  border-radius: 4px;
  border: 4px solid #eee;
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  gap: 1rem; /* Espace entre les éléments du formulaire */
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 200px;

}

/* Style pour les groupes de formulaire */
.post-form .form-group {
  margin-bottom: 2rem;
}

/* Style pour les labels */
.post-form label {
  display: block;
  margin-bottom: .5rem;
}

/* Style pour le textarea */
.post-form textarea {
  width: 100%; /* Le textarea prendra toute la largeur disponible */
  padding: 0 rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style pour les boutons */
.form-buttons {
  display: flex;
  gap: 1rem; /* Espace entre les boutons */
}

/* Ajout de styles par défaut pour les icônes */
.fa-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

/* Prévenir les redimensionnements temporaires */
.form-buttons fa-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  transition: none; /* Désactiver les transitions si nécessaire */
}

/* Assurer que les icônes ne s'affichent pas brièvement en grand */
.fa-icon.large {
  width: 24px;
  height: 24px;
}

.form-buttons button {
  background: #454cad;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1; /* Les boutons se partageront l'espace disponible */
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  height: 30px;
}

.form-buttons button:hover {
  background: #2bfa02;
}

/* Style pour le bouton de sélection de fichier */
input[type="file"] {
  display: none; /* Cache l'élément input */
}


.uploader {
  width: 30%;
  margin: 0 auto;
}

.uploader label {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all .2s ease;
  user-select: none;
}

.uploader label:hover {
  border-color: #454cad;
}

.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}

.uploader #start {
  width: 100%;
}

.uploader #start.hidden {
  display: none;
}

.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
}

.uploader #response {
  width: 100%;
}

.uploader #response.hidden {
  display: none;
}

.uploader #response #messages {
  margin-bottom: .5rem;
}

.uploader #file-video {
  display: block;
  margin: 0 auto .5rem auto;
  width: 100%;
  max-width: 180px;
}

.uploader #file-video.hidden {
  display: none;
}

.uploader #notvideo {
  display: block;
  width: 100%;
}

.uploader #notvideo.hidden {
  display: none;
}

.uploader progress,
.uploader .progress {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}

.uploader input[type="file"] {
  display: none;
}

.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}

.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border: none;
  border-radius: .2rem;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  background: #454cad;
  cursor: pointer;
}

.uploader .btn:hover {
  background: #393f90;
}

.feed {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center; /* Centre les enfants verticalement */
  justify-content: center; /* Centre les enfants horizontalement */
  margin:  auto;
  width: 100%;
  max-width: 800px;
  min-width: 529.8px; /* Définir la largeur minimale */
  min-height: 128px;
  overflow-x: hidden; /* Empêche le débordement horizontal */


}

.content-wrapper {
  width: 100%;
  max-width: 800px; /* Largeur maximale commune */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

/* Wrapper for message cards */
.message-card-wrapper {
  margin: 0 auto; /* Centre le wrapper */
  padding: 0px; /* Ajoute de l'espace sur les côtés */
  box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

/* Message card styling */
.message-card {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 200px;
  margin-top: 100px;
  width: 98%; /* Utilise toute la largeur du conteneur wrapper */
  box-sizing: border-box;
  padding: 0rem;
  overflow: hidden; /* Cache les débordements */
  
}

/* Header styling */
.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

/* Author avatar styling */
.author-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Author information styling */
.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: bold;
  color: #333;
}

.timestamp {
  font-size: 0.85em;
  color: #888;
}

/* Message content styling */
.message-content {
  font-size: 1em;
  color: #333;
  line-height: 1.5;
  margin-top: 70px;
  margin-bottom: 5px; /* Espacement sous le contenu du message */
  overflow-wrap: break-word; /* Permet de couper les mots longs */
  word-break: break-word; /* Coupe les mots si nécessaire */
}

/* Comments action styling */
.comments-action {
  display: flex;
  align-items: center;
  margin-top: 100px; /* Espacement au-dessus des actions de commentaire */
  justify-content: flex-end; /* Assurez-vous que les actions sont alignées à droite */
  line-height: 5;
}

.comments-action p {
  margin-right: 8px; /* Espacement entre les éléments */
}

.nostyle {
  border: none;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.typo {
  font-size: 12px;
}

.comments-action .align-right {
  margin-left: auto; /* Pousse l'élément à droite */
  overflow: hidden; /* Évite les débordements */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
  white-space: nowrap; /* Évite que le texte se casse en plusieurs lignes */}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Style pour le bouton "Photos/Vidéos" */
.post-form button.photos {
  background-color: green;
}

/* Style pour le nombre de commentaires */
.comment-count {
  color: blue;
}

/* Style pour les éléments désactivés */
.disabled {
  pointer-events: none;
  opacity: 0.9;
}

.modal {
  display: none; /* Modale initialement cachée */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir */
  z-index: 1000;
}

.modal-content {
  background-color: #a01d1d;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 200%;
  max-width: 600px;
  position: relative;
  z-index: 1000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.message-card {
  margin-bottom: 20px;
}

.comments-action {
  margin-top: -2px;
}

.comment-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
}

.photo-resize {
  max-width: 100%;  /* Ensures the image is responsive */
  max-height: 400px;  /* Sets a maximum height for the images */
  object-fit: contain;  /* Maintains the aspect ratio */
  display: block;  /* Ensures that any extra space is not left around the image */
  margin: auto;  /* Centers the image horizontally */
  margin-top: 130px;  /* Ajustez cette valeur pour remonter l'image */

}


/* Style pour les vidéos */
.video-resize {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  display: block;
  margin: auto;
  margin-top: 130px;
}



