<div class="form-container">
  <div class="post-form">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label for="message">Quoi de neuf {{username}}</label>
        <textarea id="message" name="message" placeholder="Exprimez-vous ici..." formControlName="message"></textarea>
      </div>
      <div class="form-buttons">
        <button type="button" (click)="onSubmit()">Publier</button>
        <button type="button" (click)="triggerFileInputClick()">
          <fa-icon [icon]="videos_photos"></fa-icon> Photos
        </button>
        <button type="button" (click)="triggerFileInputClick1()">
          <fa-icon [icon]="videos_photos"></fa-icon>Vidéos
        </button>
      </div>
    </form>
    <input type="file" class="form-group" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
    <input type="file" class="form-group" #fileInput1 (change)="onFileSelectedvideo($event)" accept="video/*" style="display: none;">

  </div>
</div>

<div class="feed">
  <div *ngFor="let item of results1; let idx = index" class="message-card">
    <div class="message-header">
      <div class="author-avatar">
          <p>publié le : {{item.timestamp | date:'short'}}</p>
      </div>
      <div class="author-info">
        <span class="author-name"></span>
        <span class="timestamp"></span>
      </div>
    </div>

    <!-- Section Messages -->
    <div *ngIf="item.message" class="message-content">
      {{ item.message }}
      <div class="comments-action">
        <p>J'aime</p>&nbsp;&nbsp;
        <app-coeur [messagecontent]="item.id" (likeClicked)="likeClicked(item.id)"></app-coeur>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="nostyle" (click)="liaison_click_modal(item.id)">Commenter&nbsp;</button>
        <app-comments></app-comments>
        <app-modalcomments 
          [modal]="currentModal" 
          [message_id]="item.id" 
          [id_comment]="id_commentaire"
          (modalClosed)="handleModalClosed(item.id)"
          (commentAdded)="handleCommentAdded()"
        ></app-modalcomments>
        <button (click)="liaison_click_modal1(item.id)" class="nostyle align-right typo">
          Commentaires&nbsp;<span>{{ item?.comments?.length }}</span>&nbsp;
          <app-pouces class="disabled"></app-pouces>&nbsp;
          <span>{{ item?.likes }}</span>
        </button>
      </div>
      <app-modalgeneral 
        [modal1]="currentModal1" 
        [message_id1]="item.id" 
        [id_comment1]="id_commentaire1"
        (modalClosed1)="handleModalClosed1()"
        [dataObservable]="messages$"
      ></app-modalgeneral>
    </div>

    <!-- Section Photos -->
    <div *ngIf="item.photo" class="message-content">
      <img [src]="'http://localhost:8000' + item.photo" loading="lazy" class="photo-resize"/>
      <div class="comments-action">
        <p>J'aime</p>&nbsp;&nbsp;
        <app-coeurphoto [photocontent]="item.id" (likeClickedphoto)="likeClickedphoto(item.id)"></app-coeurphoto>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="nostyle" (click)="liaison_click_modal2(item.id)">Commenter&nbsp;</button>
        <app-comments></app-comments>
        <app-modalphoto
          [modal2]="currentModal2" 
          [photo_id2]="item.id" 
          [id_comment2]="id_commentaire2"
          (modalClosed2)="handleModalClosed2()"
          (commentAdded1)="handleCommentPhotosAdded()"
        ></app-modalphoto>
        <button (click)="liaison_click_modal3(item.id)" class="nostyle align-right typo">
          Commentaires&nbsp;<span>{{ item.comments.length }}</span>&nbsp;
          <app-pouces class="disabled"></app-pouces>&nbsp;
          <span>{{ item?.likes }}</span>
        </button>
      </div>
      <app-modalgeneralphoto 
        [modal3]="currentModal3" 
        [photo_id3]="item.id" 
        [id_comment3]="id_commentaire3"
        (modalClosed3)="handleModalClosed3()"
        [dataObservable1]="photos$"
      ></app-modalgeneralphoto>
    </div>

    <!-- Section Vidéos -->
    <div *ngIf="item.video" class="message-content">
      <video [src]="'http://localhost:8000' + item.video" controls class="video-resize"></video>
      <div class="comments-action">
        <p>J'aime</p>&nbsp;&nbsp;
        <app-coeurvideo [videocontent]="item.id" (likeClickedvideo)="likeClickedvideo(item.id)"></app-coeurvideo>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="nostyle" (click)="liaison_click_modal4(item.id)">Commenter&nbsp;</button>
        <app-comments></app-comments>
        <app-modalvideo
          [modal4]="currentModal4" 
          [video_id4]="item.id" 
          [id_comment4]="id_commentaire4"
          (modalClosed4)="handleModalClosed4()"
          (commentAdded2)="handleCommentVideosAdded()"
        ></app-modalvideo>
        <button (click)="liaison_click_modal5(item.id)" class="nostyle align-right typo">
          Commentaires&nbsp;<span>{{ item.comments?.length }}</span>&nbsp;
          <app-pouces class="disabled"></app-pouces>&nbsp;
          <span>{{ item?.likes }}</span>
        </button>
      </div>
      <app-modalgeneralvideo 
        [modal5]="currentModal5" 
        [video_id5]="item.id" 
        [id_comment5]="id_commentaire5"
        (modalClosed5)="handleModalClosed5()"
        [dataObservable2]="videos$"
      ></app-modalgeneralvideo>
    </div>
  </div>
</div>
