


.photo-gallery {
  flex-wrap: wrap;
  gap: 10px; /* Espacement uniforme entre les éléments */
  margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */

}

.photo-item {
  flex: 1 1 calc(33.333% - 20px); /* Ajustez le calcul pour inclure la marge */
  box-sizing: border-box;
  height: 200px; /* Hauteur fixe pour le conteneur */
  flex-direction: column; /* Pour placer les éléments verticalement */
  justify-content: space-between; /* Espacement entre l'image et les icônes */
  align-items: center;
  overflow: hidden; /* Assure que tout débordement est caché */
  border: 2px solid #ddd; /* Ajoute un cadre autour de chaque photo (couleur grise claire) */
  border-radius: 8px; /* Arrondir les coins du cadre */
  background-color: #f9f9f9; /* Optionnel: Ajoute une couleur de fond pour améliorer la visibilité du cadre */
  padding: 10px; /* Ajoute un peu de padding à l'intérieur du conteneur */
}

.photo-item img {
  max-width: 100%; /* Limite la largeur de l'image au conteneur */
  max-height: 80%; /* Limite la hauteur de l'image au conteneur, laissant de la place pour les icônes */
  object-fit: contain; /* Conserve les proportions de l'image sans la couper */
  flex-grow: 1; /* Permet à l'image de prendre tout l'espace vertical restant */
}

.like-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.like-action .like {
  color: #0501f1; /* Ajustez cette couleur selon vos besoins */
  margin: 0 5px;
}

.like-action .nbvue {
  color: #0501f1; /* Ajustez cette couleur selon vos besoins */
  margin: 0 5px;
}

