.photo-gallery {
  display: flex; /* Utiliser Flexbox pour la mise en page */
  flex-wrap: wrap; /* Permettre à la galerie de se diviser en plusieurs lignes */
  gap: 20px; /* Espacement uniforme entre les éléments */
  justify-content: center; /* Centrer le contenu */
  margin-top: 7%;
}

.photo-item {
  flex: 1 1 calc(33.333% - 20px); /* Ajustez le calcul pour inclure la marge */
  box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur et la hauteur */
  display: flex; /* Utiliser Flexbox pour la disposition interne */
  flex-direction: column; /* Aligner les éléments verticalement */
  justify-content: space-between; /* Espacement entre l'image et les icônes */
  align-items: center;
  overflow: hidden; /* Assure que tout débordement est caché */
  border: 2px solid #ddd; /* Ajoute un cadre autour de chaque photo (couleur grise claire) */
  border-radius: 8px; /* Arrondir les coins du cadre */
  background-color: #f9f9f9; /* Optionnel: Ajoute une couleur de fond pour améliorer la visibilité du cadre */
  padding: 10px; /* Ajoute un peu de padding à l'intérieur du conteneur */
  height: auto; /* Permet au conteneur de s'ajuster à la taille de son contenu */
  max-width: 400px; /* Limite la largeur maximale de chaque élément pour éviter l'étirement */
}

.photo-item video {
  width: 100%; /* La vidéo prendra toute la largeur disponible */
  height: auto; /* Ajuste la hauteur en fonction de la largeur pour maintenir les proportions */
  max-height: 200px; /* Limite la hauteur maximale pour laisser de l'espace pour d'autres éléments */
  object-fit: cover; /* Garde la vidéo proportionnelle et couvre l'espace */
  border-radius: 5px; /* Coins arrondis pour les vidéos */
  margin-bottom: 10px; /* Espacement avec la section des actions */
}

.like-action {
  display: flex; /* Flexbox pour aligner les éléments horizontalement */
  justify-content: space-between; /* Espacement égal entre les éléments */
  align-items: center; /* Aligner verticalement au centre */
  width: 100%; /* Prendre toute la largeur de l'élément */
  padding: 5px 0; /* Espacement au-dessus et en-dessous des actions */
}

.like-action .like,
.like-action .nbvue {
  color: #0501f1; /* Ajustez cette couleur selon vos besoins */
  margin: 0 5px;
}
