<div class="photo-gallery">
    <!-- Boucle *ngFor pour chaque vidéo -->
    <div class="photo-item" *ngFor="let video of liste_videos">
      <!-- Vidéo -->
      <video [src]="video?.video" class="video-content" controls></video>
  
      <!-- Actions pour les likes et les vues (dans la boucle) -->
      <div class="like-action">
        <fa-icon class="like" [icon]="fathumbsup" (click)="likeClicked(video.id)"></fa-icon>
        <p class="like">{{ video.likes.length }}</p>
        <fa-icon class="like nbvue" [icon]="faeye"></fa-icon>
      </div>
    </div>
  </div>
  