/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  }
  
  /* Modal Container */
  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2000;

  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Full width for smaller screens */
    max-width: 600px; /* Max width for larger screens */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    max-height: 80%; /* Limit height to 80% of the viewport */
    overflow-y: auto; /* Enable vertical scroll */
}
  
  /* Close Button */
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Message Card */
  .message-card {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Add some padding to ensure proper spacing inside the modal */
  .modal-content p {
    margin: 0;
    padding: 5px 0;
  }

  .time{font-size: 0.8rem;color: rgb(109, 108, 108); align-items: right;}
  