<p>Vous voici sur votre profil!</p>
<p>Chercher un autre profile!</p>

<input type="text" required [(ngModel)] = "idRecupere" (input)="change($event)" >
@if (idRecupere && utilisateur?.name !=undefined) {
    <p>Bienvenue {{idRecupere}}</p>
}
@else {
    <p>Pas d'utilisateur correspondant 😨</p>
}

<p>Ajoutez une série favorite ici</p>
<input type="text" [(ngModel)] = "ajoutserie">
<button (click)= "ajouterserie()" > Ajouter</button>
<p>Supprimer une série favorite ici</p>
<input type="text" [(ngModel)] = "ajoutserie1">
<button (click)= "ajouterserie1()" > Ajouter</button>
    @if(!is_utilisateur){
       <p [ngClass]="{'error': !is_utilisateur}">rendez-vous sur creation utilisateur</p>
    
    }
    

@if(utilisateur){
# question
<ul>
    <li><fieldset>
        <p>{{utilisateur.name}}</p>
        <p>{{utilisateur.birthYear}}</p>
        @for(fan of utilisateur.favoriteSeries; track $index){
             <p>{{fan}}</p>}
    
    </fieldset></li>
    
    </ul>}
