.photo-gallery {
    display: flex;
    flex-wrap: wrap; /* Pour permettre le retour à la ligne si nécessaire */
    gap: 10px; /* Espacement uniforme entre les éléments */
    margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
  }
  
  .photo-item {
    flex: 1 1 calc(33.333% - 20px); /* Ajustez pour gérer la largeur des éléments */
    box-sizing: border-box;
    height: 200px; /* Hauteur fixe pour le conteneur */
    display: flex;
    flex-direction: column; /* Pour placer les éléments verticalement dans chaque photo */
    justify-content: space-between; /* Espacement entre l'image et les icônes */
    align-items: center;
    overflow: hidden; /* Assure que tout débordement est caché */
    border: 2px solid #ddd; /* Ajoute un cadre autour de chaque photo (couleur grise claire) */
    border-radius: 8px; /* Arrondir les coins du cadre */
    background-color: #f9f9f9; /* Optionnel: Ajoute une couleur de fond pour améliorer la visibilité du cadre */
    padding: 10px; /* Ajoute un peu de padding à l'intérieur du conteneur */
  }
  
  .photo-item img {
    max-width: 100%; /* Limite la largeur de l'image au conteneur */
    max-height: 80%; /* Limite la hauteur de l'image au conteneur, laissant de la place pour les icônes */
    object-fit: cover; /* Conserve les proportions de l'image, coupe si nécessaire */
  }
  
  .like-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .like-action .like, .like-action .nbvue {
    color: #0501f1; /* Ajustez cette couleur selon vos besoins */
    margin: 0 5px;
  }
  