.custom-scrollbar {
    /* Styles personnalisés pour la barre de défilement */
    overflow-x: hidden ;
    overflow-y: hidden; /* Par exemple, activer le défilement vertical uniquement */
    scrollbar-color: #ff6f61 #f0f0f0; /* Exemple : couleur de la barre de défilement */
    scrollbar-width: thin; /* Exemple : largeur de la barre de défilement */
  }
  
.default-scrollbar {
      overflow-x: hidden;
      overflow-y: hidden;}
  