/* Assurez-vous que le conteneur de la modal couvre toute la vue */
/* Conteneur de la modal qui couvre la vue entière */
.modal-container {
    display: none;
    justify-content: center;
    align-items: center; /* Centre la modal verticalement */
    position: fixed; /* Fixe la modal à la vue */
    left: 0;
    width: 100vw;
    height: 100vh; /* Prend toute la hauteur de la vue */
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    overflow: hidden; /* Évite le défilement du reste de la page */
    z-index: 8000;
  }
  
  /* La modal elle-même avec défkkilement interne */
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 400px; /* Largeur maximale de la modal */
    max-height: 80vh; /* Hauteur maximale de la modal */
    overflow: auto; /* Permet le défilement vertical si le contenu dépasse */
    position: relative; /* Pour le positionnement du bouton de fermeture */
    z-index: 8000;

  }
  
  /* Positionne le bouton de fermeture */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 8000;

  }
  
  /* Contenu de la modal avec défilement vertical interne si nécessaire */
  .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .user-name {
    flex: 1; /* Prend tout l'espace disponible sauf celui de l'image */
    margin-right: 10px; /* Espace entre le texte et l'image */
  }
  
  .user-photo {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 40px; /* Taille de l'image */
    height: 40px; /* Taille de l'image */
    border-radius: 50%; /* Forme circulaire */
  }



  .sent {
    justify-content: flex-end;
  }
  
  .sent .sent-bubble {
    background: #007bff; /* Bleu pour les messages envoyés */
    color: white;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    text-align: left;
  }
  
  .sent .hour {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  
    color: #888;
  }


  .received {
    justify-content: flex-start;
  }
  
  .received .received-bubble {
    background: white; /* Blanc pour les messages reçus */
    color: #333;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    max-width: 70%;
    text-align: left;
  }
  
  .received .hour {
    margin-right: 10px;
    color: #888;
  }

  .messages{overflow-y: auto;
  max-height: 6rem;
  z-index: 8000;
}

  .no-scroll {
    overflow: hidden;
    height: 100vh; /* Assurez-vous que le corps prend toute la hauteur de la vue */

  }

  
  