<div *ngIf="modal1" id="myModal1" class="modal">
  <div class="modal-container">
    <div class="modal-content">
      <button type="button" class="close-button" (click)="closeModal()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>

      <!-- Boucle sur les éléments de 'data' -->
      <div *ngFor="let datas of data">
        <!-- Condition pour vérifier si l'id correspond -->
        <div *ngIf="datas.id === id_comment1">
          <h2>{{ username }}</h2>
          <h3>{{ datas.message }}</h3>
          <span class="time">{{ datas.timestamp | date: 'shortDate' }}</span>

          <!-- Boucle sur les commentaires -->
          <div *ngFor="let da of datas.comments">
            <div class="message-card">
              <p>{{ da.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
