<div class ="container">
    <div class="left-container">

<table>
    <thead>
        <tr>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img  src="assets/photos/chat3.jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="assets/photos/chat2.jpg" />
         S   </td>
        </tr>
        <tr>
            <td>
                <img src="assets/photos/chat5.png" />
            </td>
        </tr>
        <tr>
            <td>
                <img  src="assets/photos/chat4.jpg" />
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class ="right-container">
    <app-quoideneuf></app-quoideneuf> <!-- Intégration du composant enfant -->
    </div>
    <div class ="right1-container">
        <div class ='align-right'>
        <fa-icon (click)="liaison_click_modal1()"  [icon]="fauser" size="2x"></fa-icon>;
        <p  class ='align-right' class="typo">Ami(e)s</p><br><br>
        <app-modallistfriends 
        [modal11]="currentModal1" 
        (modalClosed1)="handleModalClosed1()"
      ></app-modallistfriends>
        <fa-icon  [icon]="faImage" size="2x"></fa-icon>;
        <p class ='align-right' class="typo">Photo(s)</p>
        <fa-icon  [icon]="favideo" size="2x"></fa-icon>
        <p class ='align-right' class="typo">Video(s)</p>
        <fa-icon  [icon]="faComment" size="2x"></fa-icon>
        <p class ='align-right' class="'typo">Messagerie</p>
        </div>
</div>



        