/* sidebar.component.css */

/* Conteneur principal pour la barre latérale et les autres éléments */
.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px); /* Ajustez en fonction de la hauteur de la barre de navigation */
  gap: 2rem; /* Espace entre les éléments */
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Conteneur de la partie droite de la barre latérale */
.right-container {
  flex: 4; /* Occupe 4/5 de l'espace disponible */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Conteneur pour les icônes et autres éléments fixes */
.right1-container {
  width: 10%;
  display: flex; /* Utilise flexbox pour aligner les éléments en ligne */
  margin-top: 0;
  background-color: rgb(185, 218, 248);
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
  justify-content: space-between; /* Ajoute de l'espace entre les éléments */
}

/* Alignement à droite pour les icônes et texte */
.align-right {
  position: fixed; /* Fixe l'élément par rapport à la fenêtre */
  right: 30px; /* Décale de 30px à partir du bord droit de la fenêtre */
  top: 86px; /* Décale de 86px à partir du haut de la fenêtre */
  background-color: white; /* Assure un fond visible */
  padding: 10px; /* Ajoute un peu de padding pour du confort visuel */
  z-index: 1000; /* Place l'élément au-dessus des autres pour éviter qu'il soit masqué */
  width: auto; /* Ajuste la largeur pour éviter qu'il disparaisse */
  height: 110%;
  max-width: 300px; /* Optionnel: Limite la largeur si nécessaire */
}
