<div class="container">
   
<div class ="right-container">
    <app-quoideneuf></app-quoideneuf> <!-- Intégration du composant enfant -->
    </div>
    <div class ="right1-container">
        <div class ='align-right'>
        <fa-icon (click)="liaisonclickmodal100()"  [icon]="fauser" size="2x"></fa-icon>;
        <p  class ='align-right' class="typo"  (click)="liaisonclickmodal100()">Ami(e)s</p><br><br>
        <app-modallistfriends 
        [modal100]="currentModal100" 
        (modalClosed100)="handleModalClosed100()"
      ></app-modallistfriends>
        <fa-icon  [icon]="faImage" size="2x"></fa-icon>;
        <p class ='align-right' class="typo">Photo(s)</p>
        <fa-icon  [icon]="favideo" size="2x"></fa-icon>
        <p class ='align-right' class="typo">Video(s)</p>
        <fa-icon  [icon]="faComment" size="2x"></fa-icon>
        <p class ='align-right' class="typo" (click)="navigateToChat()">Messagerie</p>
        </div>
</div>



        