:host {
  display: block; /* Prend la largeur complète */
  overflow: hidden; /* Cache le défilement sur les deux axes */
  height: 100vh; /* Assure que le composant prend toute la hauteur de la fenêtre */
  max-height: 100vh; /* Limite la hauteur maximale */
  width: 100vw; /* Assure que le composant prend toute la largeur de la fenêtre */
  margin: 0; /* Supprime les marges */
  padding: 0; /* Supprime les espacements */
  overscroll-behavior: none; /* Désactive l'effet de rebond (overscroll) */

  
}



.main-container {
  position: relative;
  display: flex; /* Utilise Flexbox pour aligner les éléments enfants */
  justify-content: center; /* Alignement au début */
  align-items: center; /* Centre verticalement les éléments */
  gap: 1%; /* Espacement entre chaque ensemble */
  overscroll-behavior: none; /* Désactive l'effet de rebond (overscroll) */

  

}


.left-container {
  flex: 1; /* Définit la largeur de ce conteneur. Peut être ajustée selon vos besoins */
  background-color: rgba(69, 142, 252); /* Couleur d'arrière-plan pour différencier */
  padding: 10px; /* Espace intérieur du conteneur de gauche */
  margin-right: 200px;
}

.circle-container {
  display: flex; /* Utilisation de Flexbox pour centrer le texte */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  width:5px; /* Largeur automatique selon le contenu */
  height: 20px; /* Hauteur automatique selon le contenu */
  padding: 20px; /* Espacement intérieur pour créer un cercle autour du texte */
  border-radius: 50%; /* Rend le conteneur circulaire */
  background-color: #f0f0f0; /* Couleur de fond du cercle */
  border: 2px solid #000; /* Bordure autour du cercle (optionnelle) */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Ombre (optionnelle) */
}
.paragraphs-container {
  display: flex; /* Utilise Flexbox pour aligner les paragraphes horizontalement */
  justify-content: center; /* Centre les paragraphes horizontalement */
  margin-top: 100px; /* Espacement au-dessus des paragraphes */
  gap: 1%; /* Espacement entre chaque paragraphe */
  
}



.paragraph {
  max-width: 30%; /* Limite la largeur des paragraphes */
  min-width: 150px; /* Largeur minimale des paragraphes */
  padding: 10px; /* Espacement intérieur des paragraphes */
  text-align: center; /* Centre le texte à l'intérieur des paragraphes */
  margin-top: 5%;
}

.paragraphfirst {
  max-width: 30%; /* Limite la largeur des paragraphes */
  min-width: 150px; /* Largeur minimale des paragraphes */
  padding: 10px; /* Espacement intérieur des paragraphes */
  text-align: center; /* Centre le texte à l'intérieur des paragraphes */
  margin-top: 1%;
}

.leaderboard-set {
  position: relative;
  margin-top: 15%;
  margin-right: 2%;
  margin-left:2%;
  max-width: 20%; /* Limite la largeur maximale de chaque colonne */
  min-width: 150px; 
  display: flex; /* Utilise Flexbox pour aligner les éléments enfants à l'intérieur de chaque set */
  flex-direction: column; /* Met les éléments verticalement (leader-board au-dessus du golden-circle) */
  align-items: center; /* Centre horizontalement les éléments */

}

.leaderboard-set .test, .leaderboard1-set .test {
  margin-top: auto; /* Espacement entre les éléments et le paragraphe */
}

.leaderboard1-set {
  position: relative;
  margin-top: 10%;
  max-width: 20%; /* Limite la largeur maximale de chaque colonne */
  min-width: 150px; 
  display: flex; /* Utilise Flexbox pour aligner les éléments enfants à l'intérieur de chaque set */
  flex-direction: column; /* Met les éléments verticalement (leader-board au-dessus du golden-circle) */
  align-items: center; /* Centre horizontalement les éléments */

}



.leader-board {
  margin-bottom: 2px; /* Ajoute un espacement entre les deux éléments */
}

.leader1-board {
  margin-bottom: 50px; /* Ajoute un espacement entre les deux éléments */
}



.couronne {
  position:relative;
  height: 100px; /* Taille de l'image "couronne" */
  width: 100px;
  z-index: 0;
}


.golden-circle {
  position: absolute;
  top: 40px;
  width: 150px; /* Largeur du cercle */
  height: 150px; /* Hauteur du cercle */
  border-radius: 50%; /* Rend le conteneur circulaire */
  border: 5px solid silver; /* Bordure dorée */
  overflow: hidden; /* Cache le débordement de l'image */
  display: flex; /* Pour centrer l'image */
  align-items: center; /* Centre l'image verticalement */
  justify-content: center; /* Centre l'image horizontalement */
  box-shadow: 0 0 10px rgba(192, 192, 192, 0.5);
  z-index: 500; /* Ombrage argenté */}
  
.golden-circle1 {
  position: absolute;
  top: 40px;
  width: 150px; /* Largeur du cercle */
  height: 150px; /* Hauteur du cercle */
  border-radius: 50%; /* Rend le conteneur circulaire */
  border: 5px solid gold; /* Bordure dorée */
  overflow: hidden; /* Cache le débordement de l'image */
  display: flex; /* Pour centrer l'image */
  align-items: center; /* Centre l'image verticalement */
  justify-content: center; /* Centre l'image horizontalement */
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  z-index: 500; /* Optionnel: ajoute un ombrage doré */
}

.golden-circle2 {
  position: absolute;
  top: 40px;
  width: 150px; /* Largeur du cercle */
  height: 150px; /* Hauteur du cercle */
  border-radius: 50%; /* Rend le conteneur circulaire */
  border: 5px solid #cd7f32; /* Bordure en couleur bronze */

  overflow: hidden; /* Cache le débordement de l'image */
  display: flex; /* Pour centrer l'image */
  align-items: center; /* Centre l'image verticalement */
  justify-content: center; /* Centre l'image horizontalement */
  box-shadow: 0 0 10px rgba(205, 127, 50, 0.5); 
  z-index: 500;/* Ombrage bronze */
}
.circle-image {
  background-color: rgb(228, 226, 226); /* Assure un fond blanc */
  display: flex;
  width: 150px; /* Largeur maximale de l'image */
  height: 150px; /* Hauteur maximale de l'image */
  object-fit: cover; /* Maintient les proportions de l'image */
  border-radius: 50%; /* Garde l'image dans la forme circulaire */
  Z-index:1000;
}

.test{  margin-bottom: 200px; /* Espacement sous le cercle */
}

.left-container {
  flex: 1; /* Définit la largeur de ce conteneur. Peut être ajustée selon vos besoins */
  background-color: lightblue; /* Couleur d'arrière-plan pour différencier */
  padding: 1px; /* Espace intérieur du conteneur de gauche */
  min-width: 10%; /* Taille minimale du conteneur */
  max-width: 20%px; /* Taille maximale du conteneur */
  justify-items: left;
}

/* Le conteneur qui gère la mise en page */
.card-container {
  display: flex;
  justify-content: center; /* Centre les cartes horizontalement */
  align-items: center; /* Centre les cartes verticalement */
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne suivante si nécessaire */
  height: 100vh; /* Assure que le conteneur prend toute la hauteur de la vue */
  padding: 16px; /* Espacement intérieur du conteneur */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur et la hauteur totales */
}

/* La carte qui s'étire */
.card {
  flex: 1 1 300px; /* Permet à la carte de s'étirer et d'avoir une largeur minimale de 300px */
  max-width: 600px; /* Limite la largeur maximale de la carte */
  margin: 16px; /* Espacement autour de la carte */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur et la hauteur totales */
}

.container {
  margin-top:53px;
  width: 640px;
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;

}

mat-card {
  background-color: rgba(69, 142, 252);
  width: 240px;
  margin-right: 16px;
  height:100vh
}

mat-card button {
  background-color: rgb(247, 248, 248);
  width: 100%;
  margin-bottom: 16px;
}

.flex-item-right {
  margin-bottom: 7%;
  display: flex; /* Utilise flexbox pour aligner les conteneurs enfants */
  flex-direction: row; /* Aligne les conteneurs enfants en colonne */
  margin-right: 25%; /* Ajustez cette valeur pour déplacer les conteneurs vers la gauche */
}

