<body>
  <div class="main-container">
    <!-- Section des utilisateurs amis en haut -->
    <div class="head-container">
      <h1>{{username}}</h1>
      <a href="#" class="btn">
        <img src="https://svgshare.com/i/Knn.svg" alt="close" class="delete" />
      </a>
    </div>

    <!-- Section des messages au centre -->
    <div class="message-container">
      <div *ngFor="let mess of messages">
        <div class="sent">
          <h5 class="hour">{{ formatTime(currentTime) || 'Invalid Time' }}</h5>
          <p class="sent-bubble">
            Voici le mess {{ mess.message }}
            Hi, Mark! I made a new design for Messenger App.
          </p>
        </div>
        <div class="received">
          <h5 class="hour">Current Time: {{ formatTime(currentTime) || 'Invalid Time' }}</h5>
          <p class="received-bubble">
            Yo! Send it to my assistant and we'll review it during the year.
          </p>
        </div>
        <div class="sent">
          <h5 class="hour">11:03</h5>
          <p class="sent-bubble">But Mark...</p>
        </div>
        <div class="blocked">
          <h5 class="hour">11:05</h5>
          <p class="blocked-bubble">You were blocked by the user</p>
        </div>
      </div>
    </div>

    <!-- Section de saisie de message en bas -->
    <div class="input-container">
      <input type="text" [(ngModel)]="messageText" placeholder="Type a message" />
      <button class="message" (click)="sendMessage()">Send</button>
    </div>
  </div>
</body>
