
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

header {
    background: linear-gradient(rgba(21, 101, 192, 0.8), rgba(21, 101, 192, 0.8)), url(https://preview.redd.it/who-is-your-favorite-cartoon-cat-v0-2s7k7bbnavub1.jpg?width=1080&crop=smart&auto=webp&s=6580eb85cae1715b37eb06a498aa5eb8c5d96ce5);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  position: fixed; /* Fixe la barre de navigation */
  width: 100%; /* Assure qu'elle prend toute la largeur */
  top: 0; /* Fixe en haut de la page */
  z-index: 1000; /* Assure qu'elle reste au-dessus du contenu */

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bar-left {
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 16px;
}

.search-bar {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 0.9rem;
}

.nav-bar-center {
    display: flex;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
    padding: 8px 12px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-bar-right {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar-center {
        margin-top: 16px;
    }

    .nav-link {
        margin: 8px 0;
    }

    .nav-bar-left {
        width: 100%;
        justify-content: space-between;
    }

    .search-bar {
        width: 100%;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-snackbar {
    background: rgb(65, 252, 134);
    color: white;
}
.green-snackbar button {
    background-color: rgb(4, 249, 127);
    color: white !important;
    border: none;
}
.red-snackbar {
    background: #F44336;
    color: white;
}
.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}

.orange-snackbar {
    background: #f7ac3c;
    color: white;
}
.orange-snackbar button {
    background-color:  #f7ac3c;
    color: white !important;
    border: none;
}