
    <header>
        <nav class="nav-bar">
            <div class="nav-bar-left"  class="search-container" >
                <a href="#" class="logo">MyLogo</a>
                <input type="text" name="search-bar" class="search-bar" placeholder="Search" [(ngModel)]="searchTerm" (input)="findfriends()">
                <div class="dropdown" *ngIf="findfriends">
                    <div 
                      class="dropdown-item" 
                      *ngFor="let user of search_state$ |async"
                      (click)="redirectToUserProfile(user)" 
                    > 
                    <fa-icon [icon]="faSearch"></fa-icon>&nbsp;&nbsp; {{ user.username }}
                    </div>
                  </div>
            </div>
            <div class="nav-bar-center">
                        <a routerLink="/phtochat"><fa-icon [icon]="faHome" size="2x" class="nav-item"></fa-icon></a>
                        <a routerLink="/fanslist"><fa-icon [icon]="faUserFriends" size="2x" class="nav-item"></fa-icon></a>

            </div>
            <div class="nav-bar-right">
                <a href="#" class="nav-link">Account</a>
                <a routerLink="/login" class="nav-link">Se connecter</a>
                <a routerLink="/register" class="nav-link">S'enregistrer</a>
                 
                    <a *ngIf="isLoggedIn" routerLink="/login" (click)="logout()" class="nav-link">Logout</a>

            </div>
        </nav>
   
