.nav-item {
    margin: 0 15px; /* Ajustez cette valeur pour l'espacement désiré */
    color: white;
  }

  .nav-item1 {
    margin: 0 1px; /* Ajustez cette valeur pour l'espacement désiré */
    color: rgb(247, 245, 245);
  }

  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
    width: 18%;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .hidden{display: none;}

  .fa-exclamation-circle {
    color: #f39c12; /* Couleur pour l'alerte */
  }