.nav-bar {
  
  height: 70px; /* Set a specific height */
  position: relative; /* ou position: fixed; */

  
}


.nav-item {
    margin: 0 15px; /* Ajustez cette valeur pour l'espacement désiré */
    color: white;

  }

  .nav-item1 {
    margin: 0 1px; /* Ajustez cette valeur pour l'espacement désiré */
    color: rgb(247, 245, 245);
    z-index: 8500
  }

  .logo-img {
    width: 50px;  /* Changez la largeur à la taille souhaitée */
    height: auto; /* Conserve le ratio d'aspect original de l'image */
    margin-left: 3px;
}
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 18%;
    z-index: 8500;

  }
  .dropdown1 {
    position: absolute;
    top: 100%;
    left: 10%;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    z-index: 9500;

  }
  
  .dropdown-item {
    position: relative;
    z-index: 9500;

    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .hidden{display: none;}

  .fa-exclamation-circle {
    color: #f39c12; /* Couleur pour l'alerte */
  }
  

.no-bullets {
    list-style-type: none; /* Élimine les puces de la liste */
    padding: 0;
    margin: 0;
}



.flex-item {
    display: flex;
    justify-content: space-between; /* Espace le contenu de manière égale */
    align-items: center; /* Aligne les éléments verticalement au centre */
    width: 100%; /* Assure que l'élément prend toute la largeur disponible */
}

.icon-right {
    display: flex;
    gap: 10px; /* Espacement entre les icônes */
    margin-left: auto; /* Pousse le conteneur d'icônes à l'extrême droite */
}

.icon-action {
    cursor: pointer; /* Optionnel : change le curseur en pointeur pour indiquer que les icônes sont cliquables */
}

 .color{color:green}

 .no-items{

color: green

 }

 .profile-picture {
  width: 24px; /* Correspond à la taille des icônes */
  height: 24px; /* Correspond à la taille des icônes */
  border-radius: 50%; /* Optionnel : pour des images rondes */
}

.notification-container {
  position: relative; /* Position relative pour positionner l'élément enfant de manière absolue */
  display: inline-block; /* Garde l'élément en ligne pour alignement */
}

.nofriendrequest {
  visibility: hidden; /* Masquer le message par défaut */
  position: absolute; /* Positionnement relatif au parent */
  top: 100%; /* Juste en dessous de la cloche */
  left: 0; /* Alignement à gauche */
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 8px; /* Espace autour du texte */
  border-radius: 5px; /* Coins arrondis */
  margin-top: 5px; /* Espace entre la cloche et le message */
  font-size: 14px; /* Taille du texte */
  color: #555; /* Couleur du texte */
  z-index: 1; /* Assurez-vous que le message est au-dessus d'autres éléments */
  white-space: nowrap; /* Empêche le message de se diviser en plusieurs lignes */
}

.notification-container:hover .nofriendrequest {
  visibility: visible; /* Afficher le message lors du survol de la cloche */
}