<div class="container">
    <div class="login">
      <h1 class="p">S'ENREGISTRER</h1>
      <form [formGroup]="snapForm" method="post">
        <label for="n"></label>
        <input type="text" id="n" name="first_name" placeholder="Nom" required="required" formControlName="first_name" />
        <label for="p"></label>
        <input type="text" id="p" name="last_name" placeholder="Pénom" required="required" formControlName="last_name" />
        <label for="nu"></label>
        <input type="text" id="nu" name="username" placeholder="Nom d'utilisateur (devient bleu si disponible)" required="required" formControlName="username" />
        <label for="e"></label>
        <input type="email" id="e" name="email" placeholder="Email" required="required" formControlName="email" />
        <label for="mp"></label>
        <input type="password" id="mp" name="password" placeholder="Mot de passe (min 8 caractères)" required="required" formControlName="password" />
        <button class="hov" type="submit" (click)="onSubmitForm()">S'enregistrer.</button>
       
      </form>
    </div>
  </div>