html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161616;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .cat {
    position: absolute;
    top: -100px; /* Ajustez cette valeur pour positionner le 'chat' au-dessus du formulaire */
  }

  .p {
    margin-top: 20px;
    color: #4a77d4;
    text-shadow: 0 0 10px rgba(102, 100, 100, 0.3);
    letter-spacing: 1px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(247, 245, 245, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #4010f0;
    text-shadow: 1px 1px 1px rgba(242, 247, 248, 0.795);
    border: 1px solid rgba(245, 242, 242, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow .5s ease;
  }

  input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
  }

  button {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .btn, .log {
    padding: 9px 14px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    display: block;
    text-align: center;
  }

  .btn-primary {
    background-color: #4a77d4;
    background-image: linear-gradient(to top, #6eb6de, #4a77d4);
    border: 1px solid #3762bc;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #4a77d4;
    filter: none;
  }

  .log-primary {
    background-color: #f5f5f7;
    background-image: linear-gradient(to top, #eef2f5, #f4f5f7);
    border: 1px solid #3762bc;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(243, 240, 240, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .log-primary:hover, .log-primary:active, .log-primary.active {
    background-color: #f2f3f7;
  }

  .log1 {
    background-color: #069e06;
    color: #fff;
    border: 1px solid #3762bc;
    text-shadow: 0 -1px 0 rgba(243, 240, 240, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .log1:hover, .log1:active, .log1.active, .log1.disabled, .log1[disabled] {
    background-color: #069e06;
    cursor: not-allowed;
  }

  .log2 {
    background-color: #f10909;
    color: #fff;
    border: 1px solid #3762bc;
    text-shadow: 0 -1px 0 rgba(243, 240, 240, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .log2:hover, .log2:active, .log2.active, .log2.disabled, .log2[disabled] {
    background-color: #f10909;
    cursor: not-allowed;
  }

  /* Cat Styles */
  .cat {
    position: relative;
    height: 170px;
    width: 192px; /* 1.13 times the height */
  }

  .ear {
    position: absolute;
    top: -30%;
    height: 60%;
    width: 25%;
    background: #fff;
  }

  .ear::before,
  .ear::after {
    content: '';
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: #161616;
  }

  .ear--left {
    left: -7%;
    border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(-15deg);
  }

  .ear--left::before,
  .ear--left::after {
    right: 10%;
  }

  .ear--left::after {
    transform: rotate(-45deg);
  }

  .ear--right {
    right: -7%;
    border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(15deg);
  }

  .ear--right::before,
  .ear--right::after {
    left: 10%;
  }

  .ear--right::after {
    transform: rotate(45deg);
  }

  .face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #161616;
    border-radius: 50%;
  }

  .eye {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 31%;
    background: #fff;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }

  .eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: #161616;
    animation: blink 4s infinite ease-in;
  }

  @keyframes blink {
    0% { height: 0; }
    90% { height: 0; }
    92.5% { height: 100%; }
    95% { height: 0; }
    97.5% { height: 100%; }
    100% { height: 0; }
  }

  .eye::before {
    content: '';
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: #fff;
    border-radius: 50%;
  }

  .eye--left {
    left: 0;
  }

  .eye--left::before {
    right: -5%;
  }

  .eye--right {
    right: 0;
  }

  .eye--right::before {
    left: -5%;
  }

  .eye-pupil {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 20%;
    background: #161616;
    border-radius: 50%;
    animation: look-around 4s infinite;
  }

  @keyframes look-around {
    0% { transform: translate(0); }
    5% { transform: translate(50%, -25%); }
    10% { transform: translate(50%, -25%); }
    15% { transform: translate(-100%, -25%); }
    20% { transform: translate(-100%, -25%); }
    25% { transform: translate(0, 0); }
    100% { transform: translate(0, 0); }
  }

  .eye--left .eye-pupil {
    right: 30%;
  }

  .eye--right .eye-pupil {
    left: 30%;
  }

  .eye-pupil::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: #fff;
  }

  .muzzle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 6%;
    width: 10%;
    background: #fff;
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
  }