html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #e3f2fd; /* Fond bleu clair pour la page */
  }

  .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: auto;
  }

  .login {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff; /* Couleur de fond blanche */
	padding: 40px;
	border-radius: 15px; /* Coins arrondis */
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombre légère */
	position: relative;
	width: 100%;
	max-width: 400px; /* Limite la largeur maximale */
	background-image: linear-gradient(to top right, #ffffff, #e3f2fd); /* Dégradé léger de blanc à bleu clair */
  }

  .login h1 {
	margin-bottom: 20px;
	color: #0288d1; /* Couleur bleu clair pour le titre */
	font-size: 24px;
	font-weight: 500;
  }

  form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
  }

  input {
	width: 100%;
	max-width: 350px; /* Limite la largeur maximale */
	margin-bottom: 15px;
	background: rgba(0, 136, 204, 0.1); /* Fond léger avec une touche de bleu clair */
	border: 1px solid #0288d1; /* Bordure bleu clair */
	border-radius: 5px; /* Coins arrondis */
	padding: 10px;
	font-size: 14px;
	color: #0288d1; /* Texte bleu clair */
	transition: all 0.3s ease;
  }

  input:focus {
	border-color: #01579b; /* Couleur de bordure lors du focus */
	box-shadow: 0 0 5px rgba(0, 136, 204, 0.5); /* Ombre légère au focus */
  }

  button {
	padding: 12px;
	width: 100%;
	max-width: 350px; /* Limite la largeur maximale */
	margin-bottom: 15px;
	border: none;
	border-radius: 5px; /* Coins arrondis */
	font-size: 16px; /* Augmente la taille du texte */
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .btn-primary {
	background-color: #0288d1; /* Couleur de fond bleu clair */
	background-image: linear-gradient(to top, #01579b, #0288d1); /* Dégradé */
	color: #ffffff; /* Texte blanc */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
  }

  .btn-primary:hover {
	background-color: #01579b; /* Couleur plus foncée au survol */
  }

  .btn-primary:active {
	transform: scale(0.98); /* Légère réduction au clic */
  }

  .hov:hover {
	color: #ffffff;
	background-color: #0288d1; /* Couleur de fond au survol */
  }

  .hov:active {
	background-color: #01579b; /* Couleur de fond au clic */
	transform: scale(0.98); /* Réduction au clic */
  }
